<h1>Un utilisateur a fait une demande de location pour votre jeu</h1>

<p>
    Pour valider ou refuser cette demande, rendez-vous à cette adresse : <br><br>
    <a href="http://127.0.0.1:8000{{ path('location', {id: location.id}) }}">Accèdez à la demande</a>.
</p>

<p>
    Bonne journée !
</p>
