{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} Liste des jeux associés au tag {{ tag.name }}{% endblock %}

{% block body %}
    <h2>Liste des jeux associés au tag {{ tag.name }}</h2>
    {% include 'incs/_games_list.html.twig' %}
{% endblock %}
