{% extends "base.html.twig" %}

{% block title %}
    {{ parent() }} | Modifier mon profil
{% endblock %}

{% block body %}
    <h2 class="my-4">Modifier mon profil</h2>
    {{ form(form) }}
{% endblock %}

